node-linker=hoisted
network-timeout=900000
fetch-retries=8
fetch-retry-mintimeout=20000
fetch-retry-maxtimeout=120000
network-concurrency=3
supportedArchitectures.os[]=win32
supportedArchitectures.os[]=linux
supportedArchitectures.cpu[]=x64
supportedArchitectures.libc[]=glibc
